streamlit
pandas
pymupdf
python-dotenv
pydantic
structlog

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-groq
langchain-google-genai

google-generativeai

tavily-python

pytest
pytest-mock
plotly
